/* T	hese are the stylings of the basic tags used within the HTML */
html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #dedede;
}
header {
	margin: 0px;
	padding: 0px;
}
body {
	height: 100%;
}
footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
/* These are the text elements that have different stylings.  it contains headers, paragraph
text pieces and links */
h1 {
    font-family: Helvetica, sans-serif;
    font-size: 2.7em;
    color: #000000;
	text-align: center;
	margin: 10px;
}
h2 { 
    font-family: "Brush Script MT", cursive;
    font-size: 1.4em;
    color: #000000;
    font-weight: 400;
    text-align: center;
}
h3 {
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
    color: #000000;
	text-align: center; 
	margin: 10px;
}
h4 {
	font-family: Helvetica, sans-serif;
    font-size: 1.2em;
    color: #000000;
	text-align: justify; 
	margin: 60px;
}
p{
    font-family: Optima,sans-serif; 
    font-size: 0.95em;
    color: #000000;
	vertical-align: middle;
    padding-top: 2%;
    padding-left: 2em;
    padding-right: 2em;
}
a{
	font-family: Optima,sans-serif; 
    font-size: 1em;
    color: #000000;
    vertical-align: middle;
    padding-top: 5%;
    padding-left: 2em;
	padding-right: 2em;
	text-decoration: none;
}
/* The following stylings are all the different ways that the website may appear
on the screen, from one page storybook webpages, to specific pages like the contents */
#storybook1Page {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: 350px;
	margin-right: 350px;
}
#storybook2Pages {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-left: 100px;
	margin-right: 100px;
}
#frontPage {
    border: 1px;
    border-color: black;
	border-style: solid;
	background-color: white;
    width: 529px;
    height: 476px;
}
#contentsPage {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 8;
	border: 1px;
    border-color: black;
	border-style: solid;
	background-color: white;
    width: 529px;
	height: 476px;
	text-align: center;
}
#textPage {
    border: 1px;
    border-color: black;
	border-style: solid;
	background-color: white;
	vertical-align: middle;
    width: 529px;
	height: 476px;
	position: relative;
}
#imagePage {
    border: 1px;
    border-color: black;
    border-style: solid;
    width: 529px;
    height: 476px;
}
/* These are the stylings for the audio div, that is used on all of the storybook pages
dependent on whether it is used on a 2 storybook page or a 1 storybook page webpage. */
#audio {
	position: absolute;
	top: 520px;
	left: 220px;
}
#audio1Page {
	position: absolute;
	top: 520px;
	left: 480px;
}
/* This is the styling for the buttons that appear on the bottom, under the images to let the user
change the page they are on. */
#pageToggle {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: 250px;
	margin-right: 200px;
}
/* These are the images that appear on either the two storybook webpages, or the question pages */
img {
    width: 529px;
    height: 476px;
}
#questionImg {
	width: 373px;
	height: 476px;
	position: absolute;
	left: 20px;
}
#background1 {
	position: absolute;
	top: 100px;
}
/* The following are the stylings or the different buttons used on the site. */
#storyStart {
	position: absolute;
	top: 150px;
	left: 520px;
}
#storyStartText {
	position: absolute;
	top: 165px;
	left: 522px;
	font-size: 1.3em;
}
#previousPageText {
	position: absolute;
	left: 280px;
	top: 550px;
}
#contentsPageText {
	position: absolute;
	left: 555px;
	top: 545px;
}
#nextPageText {
	position: absolute;
	left: 810px;
	top: 550px;
}
/* From this point on, the CSS is the animation used on the website.  For each different
animated element, there is the stylings for the specific sprite (including location), 
followed by its keyframes in which the steps of the animation are displayed */
.spriteLMHWaving {
	width: 254px;
	height:282px;
	display:block;
	position: absolute;
	top: 230px;
	left: 500px;
	background:transparent url(littleMissHelpfulWaveStack.png) 0 0 no-repeat;
	margin:3em auto;
	animation: littleMissHelpfulWaving 1.5s steps(2) infinite;
}
@keyframes littleMissHelpfulWaving {
	0%{background-position: 0 0;}
	100%{background-position: 0 -563px;}
}
.spriteMrTallWalking {
	width:252px;
	height:476px;
	display:block;
	position: absolute;
	top: 50px;
	left: 950px;
	background:transparent url(mrTallWalkStack.png) 0 0 no-repeat;
	margin:3em auto;
	animation: mrTallWalking 3s steps(4) 2;
}
@keyframes mrTallWalking {
	0%{background-position: 0 0;}
	100%{background-position: 0 -1913px;}
}
.spriteWorm{
	width: 70px;
	height: 96px;
	display:block;
	position: absolute;
	top: 400px;
	left: 700px;
	background:transparent url(newWormStack.png) 0 0 no-repeat;
	margin:3em auto;
	animation: wormMoving 2s steps(2) 3;
}
@keyframes wormMoving {
	0%{background-position: 0 0;}
	100%{background-position: 0 -192px;}
}
.spriteLMHWalking1 {
	width: 300px;
	height: 345px;
	display:block;
	position: absolute;
	top: 150px;
	left: 650px;
	background:transparent url(littleMissHelpfulWalkStack.png) 0 0 no-repeat;
	margin:3em auto;
	animation: LMHWalking1 2s steps(2) 3;
}
@keyframes LMHWalking1 {
	0%{background-position: 0 0;}
	100%{background-position: 0 -690px;}
}
.spriteMrTallFalling {
	width: 313px;
	height: 353px;
	display:block;
	position: absolute;
	top: 165px;
	left: 855px;
	background:transparent url(mrTallFallingStack.png) 0 0 no-repeat;
	margin:3em auto;
	animation: mrTallFalling 2s steps(2) infinite;
}
@keyframes mrTallFalling {
	0%{background-position: 0 0;}
	100%{background-position: 0 -705px;}
}
.spriteLMHWalking2 {
	width: 211px;
	height: 223px;
	display: block;
	position: absolute;
	top: 307px;
	left: 970px;
	background:transparent url(LMHWalking2Stack.png) 0 0 no-repeat;
	margin:3em auto;
	animation: LMHWalking2 2s steps(2) 3;
}
@keyframes LMHWalking2 {
	0%{background-position: 0 0;}
	100%{background-position: 0 -446px;}
}
.spriteMrTallMouth {
	width: 250px;
	height: 250px;
	display: block;
	position: absolute;
	top: 200px;
	left: 780px;
	background:transparent url(mrTallMouthStack.png) 0 0 no-repeat;
	margin: 3em auto;
	animation: mrTallMouth 1s steps(3) infinite;
}
@keyframes mrTallMouth {
	0%{background-position: 0 0;}
	100%{background-position: 0 -750px;}
}
.spriteDrArm {
	width: 63px;
	height: 80px;
	display: block;
	position: absolute;
	top: 140px;
	left: 860px;
	background: transparent url(drArmStack.png) 0 0 no-repeat;
	margin: 3em auto;
	animation: drArmMoving 2s steps(2) infinite;
}
@keyframes drArmMoving {
	0%{background-position: 0 0;}
	100%{background-position: 0 -160px;}
}
.spriteMrHappyBed {
	width: 245px;
	height: 188px;
	display: block;
	position: absolute;
	top: 123px;
	left: 890px;
	background: transparent url(mrHappyBedStack.png) 0 0 no-repeat;
	margin: 3em auto;
	animation: mrHappyBed 2s steps(2) infinite;
}
@keyframes mrHappyBed {
	0%{background-position: 0 0;}
	100%{background-position: 0 -375px;}
}
.spriteLMHWalking3 {
	width: 300px;
	height: 338px;
	display: block;
	position: absolute;
	top: 190px;
	left: 870px;
	background: transparent url(LMHWalking3Stack.png) 0 0 no-repeat;
	margin: 3em auto;
	animation: LMHWalking3 2s steps(2) 2;
}
@keyframes LMHWalking3 {
	0%{background-position: 0 0;}
	100%{background-position: 0 -675px;}
}
.spriteMrHappyStairs {
	width: 246px;
	height: 271px;
	display: block;
	position: absolute;
	top: 250px;
	left: 810px;
	background: transparent url(mrHappyStairs.png) 0 0 no-repeat;
	margin: 3em auto;
	animation: mrHappyStairs 4s infinite;
}
@keyframes mrHappyStairs {
	10%{transform: translate(0, 0);}
	100%{transform: translate(-180px, -180px);}
}
.spriteSoap {
	width: 125px;
	height: 125px;
	display: block;
	position: absolute;
	top: 400px;
	left: 990px;
	background: transparent url(soap.png) 0 0 no-repeat;
	margin: 3em auto;
	animation: soapMoving 3s infinite;
}
@keyframes soapMoving {
	10%{transform: translateX(0);}
	50%{transform: translateX(-350px);}
	100%{transform: translateX(0);}
}
.spritePansFlying {
	width: 529px;
	height: 476px;
	display: block;
	position: absolute;
	top: 47px;
	left: 400;
	background: transparent url(pansFlying.png) 0 0 no-repeat;
	margin: 3em auto;
	animation: pansFlying 3s infinite;
}
@keyframes pansFlying {
	10%{transform: rotate(10deg);}
	40%{transform: rotate(20deg);}
	60%{transform: rotate(10deg);}
	100%{transform: rotate(0deg);}
}
.spriteBackground {
	width: 529px;
	height: 476px;
	display: block;
	position: absolute;
	background: transparent url(backgroundStack.png) 0 0 no-repeat;
	animation: backgroundStack 3s steps(2) infinite;
}
@keyframes backgroundStack {
	10%{background-position: 0 0;}
	100%{background-position: 0 -952px;}
}
.spriteMrHappyMouth {
	width: 188px;
	height: 188px;
	display: block;
	position: absolute;
	top: 150px;
	left: 765px;
	background: transparent url(mrHappyMouthStack.png) 0 0 no-repeat;
	margin: 3em auto;
	animation: mrHappyMouth 2s steps(2) infinite;
}
@keyframes mrHappyMouth {
	0%{background-position: 0 0;}
	100%{background-position: 0 -375px;}
}
.spriteLMHWiggle {
	width: 254px;
	height: 292px;
	display: block;
	position: absolute;
	top: 90px;
	left: 688px;
	background: transparent url(LMHWiggleStack.png) 0 0 no-repeat;
	margin: 3em auto;
	animation: LMHWiggle 2s steps(2) infinite;
}
@keyframes LMHWiggle {
	10%{background-position: 0 0;}
	100%{background-position: 0 -620px;}
}
.spriteMrHappyFlying {
	width: 350px;
	height: 225px;
	display: block;
	position: absolute;
	top: 170px;
	left: 660px;
	background: transparent url(mrHappyFlying.png) 0 0 no-repeat;
	margin: 3em auto;
	animation: mrHappyFlying 2s infinite;
	animation-timing-function: cubic-bezier(.03,1.24,1,.9);
}
@keyframes mrHappyFlying {
	10%{transform: translateX(0px);}
	100%{transform: translateX(165px);}
}
.spriteLMHShadow {
	width: 150px;
	height: 138px;
	display: block;
	position: absolute;
	top: 86px;
	left: 638px;
	background: transparent url(LMHShadow.png) 0 0 no-repeat;
	margin: 3em auto;
	animation: LMHShadow 1.5s infinite;
}
@keyframes LMHShadow {
	10%{transform: translate(0, 0);}
	100%{transform: translate(80px, 50px);}
}